# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Metro
.metro-health-check*

# Environment
.env
.env.local

# macOS
.DS_Store

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
*.orig.*
